<div class="card" style="width: 18rem;">
  <img [src]="cardData.url" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{cardData.title}}</h5>
    <p class="card-text">{{cardData.description}}</p>
    <a href="#" class="btn btn-danger">Go somewhere</a>
  </div>
</div>
