//
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Ranchers&family=Source+Sans+Pro:wght@600&display=swap');

$primary-color: #ff0000;
$secondary-color: rgb(208, 255, 0);

$body-color: #c3c3c3;
$article-color: #e0e0e0;

$header-color: #120044;
$footer-color: #02001a;

$navbar-font-color: #f6f6f6;
$navbar-font: 'Ranchers', cursive;

$primary-font-color: #1d0000;
$secondary-font-color: #250c0c;

$primary-font: 'Anton', sans-serif;
$secondary-font: 'Source Sans Pro', sans-serif;

body {
    margin: 0px;
    background-color: $body-color;
}

header {
    left: 0;
    top: 0;
    position: sticky;
    -webkit-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.75);
    z-index: 10;
    height: 100px;
    width: 100%;
    background-color: $header-color;
    h1 {
        margin: 0;
        padding: 5px 10px;
        color: $navbar-font-color;
        font-family: $navbar-font;
    }
}

footer {
    height: 200px;
    width: 100%;
    background-color: $footer-color;
    color: $primary-font-color;
}

article {
    z-index: 0;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
    margin: 50px 5% 10px 5%;
    background-color: $article-color;
    h2 {
        font-family: $primary-font;
        color: $primary-font-color;
    }
    p {
        padding-left: 20px;
        padding-right: 20px;
        font-family: $secondary-font;
        color: $secondary-font-color;
    }
}
