@import url(https://fonts.googleapis.com/css2?family=Anton&family=Ranchers&family=Source+Sans+Pro:wght@600&display=swap);body {
  margin: 0px;
  background-color: #c3c3c3;
}

header {
  left: 0;
  top: 0;
  position: -webkit-sticky;
  position: sticky;
  box-shadow: 0px 3px 10px 1px rgba(0, 0, 0, 0.75);
  z-index: 10;
  height: 100px;
  width: 100%;
  background-color: #120044;
}

header h1 {
  margin: 0;
  padding: 5px 10px;
  color: #f6f6f6;
  font-family: "Ranchers", cursive;
}

footer {
  height: 200px;
  width: 100%;
  background-color: #02001a;
  color: #1d0000;
}

article {
  z-index: 0;
  padding: 20px;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.75);
  margin: 50px 5% 10px 5%;
  background-color: #e0e0e0;
}

article h2 {
  font-family: "Anton", sans-serif;
  color: #1d0000;
}

article p {
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Source Sans Pro", sans-serif;
  color: #250c0c;
}

