<form name="brewery-form" (submit)="onSubmit($event)">
  <div class="form-group">
    <label for="url">Image Path</label>
    <input type="text" name="url" id="url" class="form-control" [(ngModel)]="imgPath" minlength="2" required>
  </div>
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" class="form-control" [(ngModel)]="title">
  </div>
  <div class="form-group">
    <label for="label-button">Label Button</label>
    <input type="text" name="label-button" id="label-button" class="form-control" [(ngModel)]="label">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea name="description" id="description"rows="3" class="form-control" [(ngModel)]="description"></textarea>
  </div>
  <input type="submit" value="Add" class="btn btn-primary">
</form>
