<div [class]="getClasses()">
  <img [src]="cardModel.imgPath" class="card-img-top" alt="..." />
  <div class="card-body">
    <h5 class="card-title">{{ cardModel.title }}</h5>
    <p class="card-text">{{ cardModel.description }}</p>
    <a href="#" class="btn btn-primary">{{ cardModel.labelButton }}</a>
  </div>
</div>
