<div *ngIf="showGreeting; else noGreeting">
  <!-- Data Binding, Text Interpolation -->
  {{ "Hola " + name  | uppercase}}
</div>
{{ now | date:'MM/dd/yy' }}
<!-- Property Binding -->
<input
  type="text"
  name="name"
  id="name"
  [class]="inputClass"
  [(ngModel)]="name"
  (change)="changeInput($event)"
/>

<!-- Event Binding -->
<button (click)="clickButton()">Enviar</button>

<app-warning [messageToShow]="message" (noValid)="noValid($event)"></app-warning>

<!-- ng-template para hacer uso del else -->
<ng-template #noGreeting> Ingrese su nombre </ng-template>
