<app-navbar></app-navbar>
<div class="container">
  <app-new-brewery></app-new-brewery>
  <div class="row">
    <app-card class="col-3" *ngFor="let item of breweries" [cardModel]="item" [cols]="3"></app-card>
  </div>
</div>
